<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.2" targetFramework="net472" />
  <package id="Fielder.Fody" version="1.2.1" targetFramework="net472" />
  <package id="Fody" version="3.2.4" targetFramework="net472" developmentDependency="true" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.5.11" targetFramework="net472" />
  <package id="WpfLightToolkit" version="1.0.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.3.0.840541-pre1" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.3.0.840541-pre1" targetFramework="net472" />
</packages>