<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="net472" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="net472" />
  <package id="SkiaSharp.Views.Forms" version="1.60.3" targetFramework="net472" />
  <package id="WpfLightToolkit" version="1.0.3" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.5.0.530" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.5.0.530" targetFramework="net472" />
</packages>