<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net47" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="net47" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="net47" />
  <package id="SkiaSharp.Views.Forms" version="1.60.3" targetFramework="net47" />
  <package id="Xamarin.Forms" version="4.1.0.618606" targetFramework="net47" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.1.0.618606" targetFramework="net47" />
</packages>